body {
  font-family: "Google Sans", arial, sans-serif;
}

h1 {
  color: rgb(135, 135, 135);
  display: block;
  font-size: 24px;
  font-weight: 100;
  line-height: 28.8px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  text-transform: capitalize;
  list-style: none;
  color: rgb(70, 67, 67);
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  padding: 20px;
  border: 1px solid silver;
  border-radius: 10px;
  background-color: #f8f8ff;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 20px;

  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -32px;
}
.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.weather-forecast-date {
font-size: 16px;
opacity: 0.4;

}


.weather-forecast img {
  display: block;
  margin: 0 auto;
  height: 48px;
  width: 48px;
}

.weather-forecast-temperature {
  text-align: center;
  color: rgb(135, 135, 135);
  font-size: 13px;
  font-weight: 400;
  height: auto;
  line-height: 15px;
  white-space: nowrap;
}

.weather-forecast-temperature-min{
  opacity: 0.4;
}